<nav class="row top-bar py-3" #topbar>
	<div class="col-md-2 brand my-auto px-auto ml-5">
		<strong>Admin</strong> Page
	</div>
	<div class="col-md-1 ml-auto username-group py-0">
		<div class="full-name">John Doe</div>
		<div class="role">Administrator</div> 
	</div>
	<div class="col-md-1 profile">
		<div class="dropdown profile-dropdown" style="text-align:center;">
			<button class="fa fa-user profile-icon" data-toggle="dropdown"></button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Profile</a>
				<a class="dropdown-item" href="#">Log Out</a>
			</div>
		</div>
	</div>
</nav>