<div class="row py-4 content">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1">Title 1</h5>
        <p class="card-subtitle mb-2 mt-1 text-muted">Lorem ipsum dolor sit amet,</p>
        <ul class="list-group scrollable rounded-0">
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
        </ul>
        <a href="#" class="btn btn-secondary mt-2 rounded-0">Detail</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title mb-1">Title 2</h5>
        <p class="card-subtitle mb-2 mt-1 text-muted">Lorem ipsum dolor sit amet,</p>
        <ul class="list-group scrollable rounded-0">
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
        </ul>
        <a href="#" class="btn btn-secondary mt-2 rounded-0">Detail</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title mb-1">Title 3</h5>
        <p class="card-subtitle mb-2 mt-1 text-muted">Lorem ipsum dolor sit amet,</p>
        <ul class="list-group scrollable rounded-0">
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-2">List item<a href="#"><span class="badge badge-danger badge-pill">Detail</span></a></li>
        </ul>
        <a href="#" class="btn btn-secondary mt-2 rounded-0">Detail</a>
      </div>
    </div>
  </div>
</div>
